.contenedor {
    display: flex;              
    align-items: center;        
    gap: 20px;                  
    width: 80%;
    margin: 50px auto;
}

.contenedor img {
    width: 250px;
    border-radius: 10px;
}

.texto {
    font-size: 18px;
}
