body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

.rectangulo_blanco{
    width: 1000px;
  height: 500px;
  background-color: white;
  border: 1px solid black;
  position: relative;
}
.rectangulo_azul{
    width: 333px;
    height: 500px;
    background-color: blue;
    position: absolute;
}
.rectangulo_rojo{
    width: 333px;
    height: 500px;
    background-color: red;
    position: absolute;
    left: 666px;
}
